@import "normalize";
@import "susy";
@import "breakpoint";
@import "mixins";

$susy: (
  global-box-sizing: box-border, 
  debug: (image: show-columns)
  );

$fluid-grid: (
  container: 1140px,
  columns: 4, 
  gutters: 0.25
  );

$asym-grid:(
  output: isolate,
  container: 1140px,
  columns: 1 2 3 4,
  gutters: 0.1
  );

$contexts: (
  fluid: (
    small: 4,
    large: 12
    ),

  asym: (
    small: 1 2 3 4,
    large: 1 2 4 5 2
    ),
  );

$bp-large: 800px;

@include border-box-sizing;

.fluid-grid {
  @include with-layout($fluid-grid) {    
    @include container();
    @include bp-with-context($bp-large, fluid, large) {
      @include show-grid();
    }

    .span {
      @include span(2); 
      margin-left: span(1 wide);
      @include bp-with-context($bp-large, fluid, large) {
        @include span(8); 
        margin-left: span(2 wide);
      }
    }
  }
}

.asym-grid {
  @include with-layout($asym-grid) {
    @include container();
    @include bp-with-context($bp-large, asym, large) {
      @include show-grid();
    }

    .span {
      @include span(2 at 2);
      @include bp-with-context(800px, asym, large) {
        @include span(2 at 3); 
      }
    }
  }
}

// ==========
// Demo Styles
// ==========

h2 {
  text-align: center;
  margin: 1.5em 0;
}

.span {
  background: transparentize(teal,0.75);
}