@import "normalize";
@import "susy";
@import "breakpoint";
@import "mixins";

$susy: (
  global-box-sizing: box-border, 
  debug: (image: show-columns)
  );

$fluid-grid: (
  container: 1140px,
  columns: 4, 
  gutters: 0.25
  );

$asym-grid:(
  output: isolate,
  container: 1140px,
  columns: 1 2 3 4 5 6,
  gutters: 0.1
  );

@include border-box-sizing;

.fluid-grid {
  @include with-layout($fluid-grid) {
    @include container;
  }
}

.asym-grid {
  @include with-layout($asym-grid) {
    @include container;
  }
}


// ==========
// Demo Styles
// ==========

h2 {
  text-align: center;
  margin: 1.5em 0;
}

.span {
  background: transparentize(teal,0.75);
}