@import "normalize";
@import "susy";
@import "breakpoint";

@mixin cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$susy: (
  global-box-sizing: border-box,
  debug: (image: show-columns)
  );

@include border-box-sizing;

// ==========
// GRID MAPS
// ==========

$fluid-grid: (
  container: 1140px,
  columns: 12, 
  gutters: 0.25
  );

$asym-grid:(
  output: isolate,
  container: 1140px,
  columns: 1 2 3 4 5 6,
  gutters: 0.1

  );

$static-grid: (
  math: static,
  column-width: 80px,
  columns: 8, 
  gutters: 0.5
  );

// ==========
// LAYOUT SUSY GRIDS
// ==========

.fluid-wrap {
  @include with-layout($fluid-grid) {
    @include container;
  }
}

.asym-wrap {
  @include with-layout($asym-grid) {
    @include container;
  }
}

.static-wrap {
  @include with-layout($static-grid) {
    @include container;
  }
}

.onthefly1-wrap {
  @include with-layout(8 0.5 split) {
    @include container;
  }
}

.onthefly2-wrap {
  @include with-layout(4 0.75 inside) {
    @include container;
  }
}

// ==========
// Demo Styles
// ==========

section {
  margin: 4rem;
}

h2 {
  text-align: center;
}

.fluid-wrap, 
.asym-wrap, 
.static-wrap, 
.onthefly1-wrap, 
.onthefly2-wrap {
  height: 100px; 
}